.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    overflow-x:hidden;
}
.aboutMeTitle{
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 2.3rem;
    border-bottom:1px solid black;
    margin-bottom: 20px;
}
.aboutContentContainer{
    margin:100px 20px 0px 20px;
    max-width: 1200px;
    animation: aboutLow 1s;
}
.aboutContentInner{
    display: flex;
    flex-direction: column;
}

.aboutMeAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes aboutLow {
    0%{
        margin-left: 5000px;
    }
    100%{
        
    }
}
.aboutMeAvatar>h2{
    margin-top:5px;
    color:rgb(0, 226, 170);
}
.frontend{
    margin:5px;
}
.imgMe{
    border-radius: 10px;
    max-width: 100%;
}
.socialMediaAboutPage{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.aboutMeText{
    line-height: 25px;
    margin-top:20px;
}
.aboutMeText>p{
    margin-bottom: 20px;
}


@media(min-width:600px){
    .aboutContentContainer{
        margin:100px 50px 0px 50px;
    }
}

@media(min-width:850px){
    .aboutContentInner{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .aboutMeText{
        width:50%;
        margin:0;
    }
    .aboutMeTitle{
        margin-bottom: 50px;
    }
    .techsAbout{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:1200px){
    .aboutContentContainer{
        width: 98%;
        margin:100px 0px 0px 0px;
    }
    .aboutMeTitle{
        font-size: 3rem;
    }

}