.projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-x: hidden;
}
.projects{
    margin:100px 20px 0px 20px;
    max-width: 1200px;
}

.projects>h1{
    font-weight: 900;
    font-size: 2.3rem;
    text-align: start;
    animation: projTitle 250ms linear;
}
@keyframes projTitle{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.projectsIntroduction{
    padding:10px 0px 20px 0px;
    border-bottom: 1px solid rgb(196, 196, 196);
    animation: projIntroduction 250ms linear;
}
@keyframes projIntroduction{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@media(min-width:600px){
    .projects{
        margin:100px 50px 0px 50px;
    }
}
@media(min-width:900px){
    .projects>h1{
        font-size: 3rem;
    }
    .projectsIntroduction{
        font-size: 1.2rem;
    }
    .projects{
        align-self: center;
    }

}

@media(min-width:1200px){
    .projects{
        width: 98%;
    }
}