footer {
    margin-top: 100px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.getInTouchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.getInTouch {
    font-weight: 800;
    font-size: 1.9rem;
}

.getInTouchText {
    margin: 20px 0px;
}

.sayHiButton {
    padding: 10px 20px;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .5;
}

.sayHiButton:focus,
.sayHiButton:hover {
    transform: scale(1.05);
    transition: transform .5;
}

.socialMediaContainer {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 150px;
}